<%- include('includes/head') %>
<%- include('includes/navbar') %>

<div class="title">
  <h1>Sua agenda pessoal!</h1>
  <h2>Crie ou edite seus contatos abaixo:</h2>
</div>

<div class="container-register">
  <form action="/contact/register" method="post">
    <input type="hidden" name="_csrf" value = <%= csrfToken %>>
    <label>Nome:</label>
    <input type="text" name="name" value="<%= contact.name %>">
    <label>Sobrenome:</label>
    <input type="text" name="surname" value="<%= contact.surname %>">
    <label>Email:</label>
    <input type="email" name="email" value="<%= contact.email %>">
    <label>Telefone:</label>
    <input type="tel" name="telephone" value="<%= contact.telephone %>">
    <button>Salvar</button>
  </form>
</div>

<%- include('includes/messages') %>
<%- include('includes/footer') %>
